---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://media.licdn.com/dms/image/D4E03AQFiDU0bKYHxjw/profile-displayphoto-shrink_800_800/0/1691250510535?e=1723680000&v=beta&t=ULxprN8y4T16nhVzlmE2REFIJr9SnEhkfsPL_grSXf4"
        alt="rolando photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Rolando
        <a
          href="https://www.linkedin.com/in/rolando-a-duvergé-5b0826234"
          target="_blank"
          rel="	"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl text-wrap">
        Desarrollador Web de <span class="text-yellow-200/90"
          >República Dominicana.
        </span> Me especializo en crear soluciones eficientes y escalables.<span
          class="opacity-90"
        >
          Mi objetivo es siempre ofrecer productos de alta calidad que superen
          las expectativas del cliente.</span
        >
      </h2>

      <nav class="flex gap-x-2 mt-7">
        <SocialPill
          href="https://www.linkedin.com/in/rolando-a-duvergé-5b0826234"
        >
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/rduverge">
          <GithubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
