<header class="flex justify-between items-center py-3 w-[1120px]">
<img 
class="rounded-full w-12 h-12"
src="https://media.licdn.com/dms/image/D4E03AQFiDU0bKYHxjw/profile-displayphoto-shrink_800_800/0/1691250510535?e=1723680000&v=beta&t=ULxprN8y4T16nhVzlmE2REFIJr9SnEhkfsPL_grSXf4" 
alt="rolando photo">

<nav class="flex flex-row gap-x-10">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>
</header>